#index
{
    background-color:lightskyblue;
    margin:0;
}

#about
{
    margin:0;
}

#projects
{
     margin:0;
}

#skills
{
    margin:0;
}

#employment
{
    margin:0;
}

h1
{
    margin:15px;
}

.navbar 
{
    background-color: #262626;
    padding: 15px;
}

a 
{
    color:white;
    text-decoration:none;
    padding:10px;
    font-size:15px;
}
